[submodule "vendor/gems/data-cycle-core"]
	path = vendor/gems/data-cycle-core
	url = git@github.com:datacycle-engine/dataCycle-CORE.git
	branch = master
[submodule "vendor/gems/datacycle-schema-common"]
	path = vendor/gems/datacycle-schema-common
	url = git@github.com:datacycle-engine/dataCycle-SCHEMA-Common.git
	branch = master
